# Node modules
node_modules/
.next/
out/
dist/

# Dependency directories
/.pnp
.pnp.js

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous
.DS_Store
*.pem
.vscode/
.idea/
*.swp
*.swo

# TypeScript cache
*.tsbuildinfo

# Static files cache
.cache/

# Build artifacts
*.lock
.vercel/
.firebase/

