@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/* Form stilleri */
input[type="checkbox"] {
  @apply rounded bg-[#222] border-[#333] text-blue-500 focus:ring-blue-500;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  @apply w-full rounded-xl pl-10 px-4 py-2.5 bg-[#222] border border-[#333] placeholder:text-zinc-500 text-white focus:outline-none focus:border-blue-500 transition-colors;
}

button {
  @apply transition-colors;
}

/* Container stilleri */
.auth-container {
  @apply flex flex-col gap-6 border border-[#222] hover:border-[#333] rounded-2xl p-8 lg:p-20 bg-black/20 backdrop-blur-sm shadow-xl;
}
